html,
body {
	background-color: #ffffff;
	font-size: 13px;
	color: #000000;
	width: 100%;
	padding: 0;
	margin-left: 0;
	margin-right: 0;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

body {
	padding-top: 70px;
}


/*pre loader*/

.preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fefefe;
	z-index: 99999;
	height: 100%;
	width: 100%;
	overflow: hidden !important;
}

.loaded {
	width: 60px;
	height: 60px;
	position: absolute;
	left: 50%;
	top: 50%;
	background-image: url(../img/preloading.gif);
	background-repeat: no-repeat;
	background-position: center;
	-moz-background-size: cover;
	background-size: cover;
	margin: -20px 0 0 -20px;
}

.btn.extra-width {
	padding: 13px 40px;
}

ol,
ul {
	list-style: none;
	padding: 0;
}

img {
	max-width: 100%;
}

#custom-search-form .form-control {
	border: 0;
	border-radius: 0;
	font-size: 16px;
	background-color: #e8e4f1;
	height: 30px;
	margin-top: 17px;
	padding-left: 0px;
	padding-right: 0px;
}

#custom-search-form button {
	border: 0;
	background: none;
	padding: 2px 5px;
	margin-top: 18px;
	position: relative;
	left: -39px;
	margin-bottom: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #7e7d80;
}

.navbar-collapse >.form-control:focus {
	border-color: #7d55b0;
}

.transition {
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	-ms-transition: all 300ms linear;
	transition: all 300ms linear;
}


/*Section*/

.section {
	padding-top: 50px;
	padding-bottom: 50px;
	position: relative;
	overflow: hidden;
}


/*Menu Style*/

.menu-scroll {
	color: #fff !important;
	padding-top: 0px;
	padding-bottom: 0px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 300;
	box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	background-color: rgba(122, 96, 194, 0.9) !important;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s !important;
	height: 75px;
}

.navbar-default {
	background-color: #fff;
	border-color: 0;
}

.navbar {
	min-height: 90px;
	min-height: 90px;
	margin-bottom: 0;
	border: 0;
	border-radius: 0;
}

.navbar-default .navbar-nav>li>a {
	font-size: 14px;
	text-transform: uppercase;
	color: #000000;
	line-height: 55px;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #4bcaff;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
	color: #000000;
	font-weight: 700;
	background-color: transparent;
}

.navbar-brand {
	margin-top: 15px;
}

.dropdown-submenu {
	position: relative;
}

.dropdown-submenu>.dropdown-menu {
	top: 4px;
	left: 100%;
	margin-top: -6px;
	margin-left: -1px;
	background-color: #2c1d41;
	opacity: .7;
	border-top: 3px solid #fff200;
}

.dropdown-submenu:hover>.dropdown-menu {
	display: block;
}

.dropdown-submenu>a:after {
	display: block;
	content: " ";
	float: right;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	border-left-color: #ccc;
	margin-top: 5px;
	margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
	border-left-color: #fff;
}

.dropdown-submenu.pull-left {
	float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
	left: -100%;
	margin-left: 10px;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
	background: transparent;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
	background: transparent;
}

.navbar-nav > li > .dropdown-menu {
	margin-top: 4px;
	left: 10px;
	background-color: #2c1d41;
	opacity: .7;
	border-top: 3px solid #fff200;
}

.dropdown-menu > li > a {
	color: #fff;
	padding: 10px 20px;
}

.dropdown-menu > li > a:hover {
	color: #fff200;
	background: transparent;
}


/* Section choose*/

.section_choose {
	margin-bottom: 100px;
}

.heading_content h3 {
	margin-top: 110px;
	margin-bottom: 20px;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 40px;
}

.heading_content p {
	color: #999999;
	margin-bottom: 100px;
}

.blue {
	color: #009dda;
}

.choose_content {
	padding: 13px 20px;
	border: 1px solid #cdcaca;
	margin-bottom: 30px;
	box-shadow: 1px 1px 1px 0 rgba(55, 50, 40, .10);
	-webkit-box-shadow: 1px 1px 1px 0 rgba(55, 50, 40, .10);
	-moz-box-shadow: 1px 1px 1px 0 rgba(55, 50, 40, .10);
	-ms-box-shadow: 1px 1px 1px 0 rgba(55, 50, 40, .10);
}

.choose_content h4 {
	text-transform: uppercase;
	font-family: "latobold";
	margin-bottom: 10px;
}

.choose_content i {
	height: 150px;
	width: 150px;
	color: #503392;
	font-size: 80px;
	padding-top: 35px;
	margin-bottom: 20px;
}

.col-xs-1-5,
.col-sm-1-5,
.col-md-1-5,
.col-lg-1-5 {
	position: relative;
	min-height: 1px;
	padding-right: 10px;
	padding-left: 10px;
}

.col-xs-1-5 {
	width: 20%;
	float: left;
}

@media (min-width: 768px) {
	.col-sm-1-5 {
		width: 20%;
		float: left;
	}
}

@media (min-width: 992px) {
	.col-md-1-5 {
		width: 20%;
		float: left;
	}
}

@media (min-width: 1200px) {
	.col-lg-1-5 {
		width: 20%;
		float: left;
	}
}

.choose_content {
	position: relative;
	/*	margin-bottom:10px;*/
	overflow: hidden;
}

.choose_overlay {
	background: rgba(80, 51, 146, 1);
	position: absolute;
	width: 100%;
	height: 79%;
	top: -90%;
	left: 0;
	/*
	width: 91%;
    height: 46%;
    top: 45%;
    left: 5%;
*/
	transition: .5s;
}

.choose_content:hover .choose_overlay {
	top: 45%;
}

.more_icon p {
	font-size: 15px;
	color: #fff;
	text-transform: uppercase;
	transition: .3s;
}

.more_icon:hover p {
	color: #c9c9c9;
}

.more_icon {
	position: absolute;
	z-index: 10;
	transition: .5s;
	-webkit-transition: .5s;
}

.choose_content:hover .more_icon {
	top: 50%;
	left: 33%;
}


/*Section products*/

.section_products {
	min-height: 500px;
}

.yellow {
	color: #fff200;
}


/*
.line {
	height: 180px;
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	background: url('../img/product_bg1.png') no-repeat;
	background-size: cover;
	background-position: center;
	margin-bottom: 150px;
}

.line:before,
.line:after {
	content: "";
	border-bottom: 15px solid white;
	height: 0px;
	width: 51%;
	position: absolute;
	bottom: 0px;
}

.line:before {
	border-right: 15px solid rgba(242, 242, 243, 0);
	left: -15px;
}

.line:after {
	right: -15px;
	border-left: 15px solid rgba(242, 242, 243, 0);
	border-right: none;
}
*/

.section_title {
	position: relative;
	height: 180px;
	width: 100%;
}

.section_title svg {
	height: 100%;
}

.section_title img {
	position: relative;
	width: 100%;
	height: 180px;
	clip-path: polygon(100% 0, 100% 80%, 54% 80%, 50% 100%, 46% 80%, 0 80%, 0 0)
}

.section_title h2 {
	color: white;
	text-transform: uppercase;
	text-align: center;
	position: absolute;
	bottom: 50%;
    transform: translateY(50%);
	left: 42%;
}

.product_photo img {
	height: 140px;
	width: 140px;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 100%;
	margin-top: 30px;
	margin-right: 28px;
	margin-bottom: 100px;
}

.section_products {
	background-image: url(../img/product_carousel_bg.png);
}

.carousel-indicators li {
	display: inline-block;
	background-color: #d3c5f2;
}

.carousel-indicators .active {
	background-color: #503392;
}

.product_content {
	padding-top: 60px;
}

.product_content h2 {
	color: #fff;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 34px;
}

.products_content h4 {
	padding-top: 40px;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 2px;
}

.products_content h5 {
	color: #503392;
	font-weight: 600;
}

.products_content p {
	color: #696969;
	font-size: 13px;
}


/* Section about*/

.section_about {
	margin-top: 115px;
	margin-bottom: 115px;
}

.grey {
	color: #727272;
	margin-top: 30px;
	margin-bottom: 50px;
}

.progress-title {
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 700;
	color: #000;
	margin: 0 0 20px;
}

.percentage {
	font-size: 16px;
	font-weight: 700;
	margin: -30px 0 0;
}

.progress {
	padding: 2px;
	height: 10px;
	background: #fff;
	border-radius: 0;
	border: 1px solid #dddddd;
	box-shadow: none;
	margin-bottom: 30px;
	overflow: visible;
}

.progress .progress-bar {
	background: #009dda;
	box-shadow: none;
	position: relative;
	-webkit-animation: animate-positive 5s;
	animation: animate-positive 7s;
}

.progress .progress-value {
	font-size: 15px;
	font-weight: bold;
	color: #000;
	position: absolute;
	top: -40px;
	right: 0;
}

@-webkit-keyframes animate-positive {
	0% {
		width: 0;
	}
}

@keyframes animate-positive {
	0% {
		width: 0;
	}
}

.ipad_img {
	width: 100%;
	height: 100%;
}

.contact_content h2 {
	text-transform: uppercase;
	font-weight: 600;
}

.contact_content p {
	margin-bottom: 50px;
	font-size: 12px;
}


/*Map */

#mapkit-6697 {
	height: 650px;
	width: 100%;
	position: relative;
	overflow: hidden;
}

#mapkit-6697:after {
	background-color: rgba(26, 26, 26, .8);
	content: "";
	height: 100%;
	left: -50px;
	pointer-events: none;
	position: absolute;
	right: -50px;
	top: 0;
	z-index: 20;
}


/*Contact form*/

.contact_content2 {
	position: relative;
}

.contact-form-area {
	position: absolute;
	background-color: #000;
	opacity: .4;
	color: #fff;
	bottom: 50%;
	transform: translateY(50%);
	left: 50%;
	margin-left: -400px;
	width: 800px;
	padding: 30px;
	z-index: 30;
}

label {
	margin-left: 22px;
}

.checkbox input[type="checkbox"] {
	background: transparent;
	border-radius: 0;
}

.form-control {
	height: 45px;
	background-color: transparent;
	border: 1px solid #fff;
	border-radius: 0;
}

.contact-form-area form .contact-btn {
	background: #ffff00;
	border-radius: 0;
	padding: 10px 30px;
	color: #000;
	margin-top: -32px;
}

.contact-form-area form .contact-btn:hover {
	background: #fff;
}

.form_txt {
	color: #fff;
}


/*Scroll Up*/

.scrollup {
	width: 40px;
	height: 40px;
	text-align: center;
	color: #fff;
	font-size: 30px;
	background: #4bcaff;
	position: fixed;
	bottom: 100px;
	right: 50px;
	font-weight: bold;
	border-radius: 100%;
	transition: all 500ms .2s;
	cursor: pointer;
	z-index: 40;
}

.scrollup:hover {
	background: #008ac4;
	color: #fff;
	transform: scale(1.1);
}


/*Footer*/

.footer {
	background-color: #000;
	color: #d7d7d7;
	padding-top: 40px;
	padding-bottom: 40px;
	position: relative;
	overflow: hidden;
}

.fa-facebook,
.fa-google-plus,
.fa-twitter,
.fa-dribbble {
	margin-right: 10px;
	font-size: 15px;
}

.fa-facebook {
	color: #59709e;
}

.fa-google-plus {
	color: #ae3d2b;
}

.fa-twitter {
	color: #71d6fa;
}

.fa-dribbble {
	color: #e9779d;
}

.fa-angle-right {
	margin-right: 5px;
}