/*Custom styles*/

html,
body {
	background-color: #ffffff;
	font-size: 13px;
	color: #000000;
	width: 100%;
	padding: 0;
	margin-left: 0;
	margin-right: 0;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

body {
	padding-top: 70px;
}

img {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-user-drag: none;
	user-drag: none;
}

a,
a:hover,
a:active,
a:focus {
	text-decoration: none;
	outline: none;
}

a,
button,
a span {
	-webkit-transition: 0.2s ease-in-out;
	-o-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
}


/*==========================================
PRE LOADER 
==========================================*/

.preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fefefe;
	z-index: 99999;
	height: 100%;
	width: 100%;
	overflow: hidden !important;
}

.loaded {
	width: 60px;
	height: 60px;
	position: absolute;
	left: 50%;
	top: 50%;
	background-image: url(../img/preloading.gif);
	background-repeat: no-repeat;
	background-position: center;
	-moz-background-size: cover;
	background-size: cover;
	margin: -20px 0 0 -20px;
}

.btn.extra-width {
	padding: 13px 40px;
}

.btn:focus,
.btn:active {
	outline: inherit;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

p {
	margin: 0 0 15px;
}

.clear {
	clear: both;
}

ol,
ul {
	list-style: none;
	padding: 0;
}

img {
	max-width: 100%;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
	outline: none;
}

#custom-search-form .form-control {
	border: 0;
	border-radius: 0;
	font-size: 16px;
	background-color: #e8e4f1;
	height: 30px;
	margin-top: 17px;
	padding-left: 0px;
	padding-right: 0px;
}

#custom-search-form button {
	border: 0;
	background: none;
	/** belows styles are working good */
	padding: 2px 5px;
	margin-top: 18px;
	position: relative;
	left: -39px;
	/* IE7-8 doesn't have border-radius, so don't indent the padding */
	margin-bottom: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #7e7d80;
}

.navbar-collapse >.form-control:focus {
	border-color: #7d55b0;
}

h1,
h2,
h3 {
	font-weight: 300;
	margin: 0;
}

h4,
h5 {
	font-weight: 300;
	margin: 0;
	line-height: 2rem;
}

h1 {
	font-size: 3rem;
	line-height: 4rem;
	font-weight: 300;
}

h2 {
	font-size: 2.5rem;
	line-height: 3rem;
	margin-bottom: .9rem;
}

h3 {
	font-weight: 300;
	margin-bottom: .9rem;
	font-size: 2.1rem;
	line-height: 2.5rem;
}

h4 {
	font-size: 1.6rem;
	line-height: 2.2rem;
	margin-bottom: 1.1rem;
}

h5 {
	font-size: 1.3rem;
	margin-bottom: 1rem;
}

h6 {
	font-size: 1rem;
	margin-bottom: .9rem;
}

p {
	line-height: 1.5rem;
	font-size: 1.1rem;
}

p:last-child {
	margin-bottom: 0px;
}

.transition {
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	-ms-transition: all 300ms linear;
	transition: all 300ms linear;
}


/*Section*/

.section {
	padding-top: 50px;
	padding-bottom: 50px;
	position: relative;
	overflow: hidden;
}


/*Menu Style*/

.menu-scroll {
	color: #fff !important;
	padding-top: 0px;
	padding-bottom: 0px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 300;
	box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	background-color: rgba(122, 96, 194, 0.9) !important;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s !important;
	height: 75px;
}

.navbar-default {
	background-color: #fff;
	border-color: 0;
}

.navbar {
	min-height: 90px;
	min-height: 90px;
	margin-bottom: 0;
	border: 0;
	border-radius: 0;
}

.navbar-default .navbar-nav>li>a {
	font-size: 14px;
	text-transform: uppercase;
	color: #000000;
	line-height: 55px;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #4bcaff;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
	color: #000000;
	font-weight: 700;
	background-color: transparent;
}

.navbar-brand {
	margin-top: 20px;
}

/* Section choose*/

.section_choose {
	margin-bottom: 100px;
}

.heading_content h3 {
	margin-top: 110px;
	margin-bottom: 20px;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 40px;
}

.heading_content p {
	color: #999999;
	margin-bottom: 100px;
}

.blue {
	color: #009dda;
}

.choose_content {
	padding: 13px 20px;
	border: 1px solid #cdcaca;
	margin-bottom: 30px;
	box-shadow: 1px 1px 1px 0 rgba(55, 50, 40, .10);
	-webkit-box-shadow: 1px 1px 1px 0 rgba(55, 50, 40, .10);
	-moz-box-shadow: 1px 1px 1px 0 rgba(55, 50, 40, .10);
	-ms-box-shadow: 1px 1px 1px 0 rgba(55, 50, 40, .10);
}

.choose_content h4 {
	text-transform: uppercase;
	font-family: "latobold";
	margin-bottom: 10px;
}

.choose_content i {
	height: 150px;
	width: 150px;
	color: #503392;
	font-size: 80px;
	padding-top: 35px;
	margin-bottom: 20px;
}

.col-xs-1-5,
.col-sm-1-5,
.col-md-1-5,
.col-lg-1-5 {
	position: relative;
	min-height: 1px;
	padding-right: 10px;
	padding-left: 10px;
}

.col-xs-1-5 {
	width: 20%;
	float: left;
}

@media (min-width: 768px) {
	.col-sm-1-5 {
		width: 20%;
		float: left;
	}
}

@media (min-width: 992px) {
	.col-md-1-5 {
		width: 20%;
		float: left;
	}
}

@media (min-width: 1200px) {
	.col-lg-1-5 {
		width: 20%;
		float: left;
	}
}

.choose_content {
	position: relative;
	/*	margin-bottom:10px;*/
	overflow: hidden;
}

.choose_overlay {
	background: rgba(80, 51, 146, 1);
	position: absolute;
	width: 100%;
	height: 79%;
	top: -90%;
	left: 0;
	/*
	width: 91%;
    height: 46%;
    top: 45%;
    left: 5%;
*/
	transition: .5s;
}

.choose_content:hover .choose_overlay {
	top: 45%;
}

.more_icon p {
	font-size: 15px;
	color: #fff;
	text-transform: uppercase;
	transition: .3s;
}

.more_icon:hover p {
	color: #c9c9c9;
}

.more_icon {
	position: absolute;
	z-index: 10;
	transition: .5s;
	-webkit-transition: .5s;
}

.choose_content:hover .more_icon {
	top: 50%;
	left: 33%;
}

.section_products {
	min-height: 500px;
	/*	background-color: #f3f3f3;*/
	/*	margin-bottom: 100px;*/
}

.yellow {
	color: #fff200;
}

/*
.line {
	height: 180px;
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	background: url('../img/product_bg1.png') no-repeat;
	background-size: cover;
	background-position: center;
	margin-bottom: 150px;
}

.line:before,
.line:after {
	content: "";
	border-bottom: 15px solid white;
	height: 0px;
	width: 51%;
	position: absolute;
	bottom: 0px;
}

.line:before {
	border-right: 15px solid rgba(242, 242, 243, 0);
	left: -15px;
}

.line:after {
	right: -15px;
	border-left: 15px solid rgba(242, 242, 243, 0);
	border-right: none;
}
*/
.section_title {
	position: relative;
	height: 180px;
	width: 100%;
}

.section_title svg {
	height: 100%;
}

.section_title img {
	position: relative;
	width: 100%;
	height: 180px;
	clip-path: polygon(100% 0, 100% 80%, 54% 80%, 50% 100%, 46% 80%, 0 80%, 0 0)
}

.section_title h2 {
	color: white;
	text-transform: uppercase;
	position: absolute;
	top: 55px;
	left: 40%;
}
.product_photo img {
	height: 140px;
	width: 140px;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 100%;
	/*    background: #fff;*/
	margin-top: 30px;
	margin-right: 28px;
	margin-bottom: 100px;
}

.section_products {
	background-image: url(../img/product_carousel_bg.png);
}

.carousel-indicators {
	/*    bottom: -7px;*/
}

.carousel-indicators li {
	display: inline-block;
	background-color: #d3c5f2;
}

.carousel-indicators .active {
	background-color: #503392;
}

.product_content {
	padding-top: 60px;
}

.product_content h2 {
	color: #fff;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 34px;
}

.products_content h4 {
	padding-top: 40px;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 2px;
}

.products_content h5 {
	color: #503392;
	font-weight: 600;
}

.products_content p {
	color: #696969;
	font-size: 13px;
}

.section_about {
	margin-top: 115px;
	margin-bottom: 115px;
}

.grey {
	color: #727272;
	margin-top: 30px;
	margin-bottom: 50px;
}

.progress-title {
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 700;
	color: #000;
	margin: 0 0 20px;
}

.percentage {
	font-size: 16px;
	font-weight: 700;
	margin: -30px 0 0;
}

.progress {
	padding: 2px;
	height: 10px;
	background: #fff;
	border-radius: 0;
	border: 1px solid #dddddd;
	box-shadow: none;
	margin-bottom: 30px;
	overflow: visible;
}

.progress .progress-bar {
	background: #009dda;
	box-shadow: none;
	position: relative;
	-webkit-animation: animate-positive 2s;
	animation: animate-positive 2s;
}

.progress .progress-value {
	font-size: 15px;
	font-weight: bold;
	color: #000;
	position: absolute;
	top: -40px;
	right: 0;
}

@-webkit-keyframes animate-positive {
	0% {
		width: 0;
	}
}

@keyframes animate-positive {
	0% {
		width: 0;
	}
}

.ipad_img {
	width: 100%;
	height: 100%;
}

.contact_content h2 {
	text-transform: uppercase;
	font-weight: 600;
}

.contact_content p {
	margin-bottom: 50px;
	font-size: 12px;
}

#mapkit-6697 {
	height: 650px;
	width: 100%;
	position: relative;
	overflow: hidden;
}
#mapkit-6697:after {
    background-color: rgba(26, 26, 26, .8);
    content: "";
    height: 100%;
    left: -50px;
    pointer-events: none;
    position: absolute;
    right: -50px;
    top: 0;
    z-index: 20;
}

/*Contact form*/

.contact_form {
	position:relative;
	z-index: 30;    
}

.contact-form-area {
	position: absolute;
	background-color: #000;
	opacity: .4;
	color: #fff;
	top: 50px;
    left: 50%;
    margin-left: -250px;
    width: 600px;
}
label {
	margin-left: 22px;
}

.checkbox input[type="checkbox"] {
	background: transparent;
	border-radius:0;
}
.form-control {
	height: 45px;
	background-color: transparent;
	border: 1px solid #fff;
	border-radius:0;
}

.contact-form-area form .contact-btn {
	background: #ffff00;
	border-radius:0;
	padding: 14px 70px;
	color: #000;
}

.contact-form-area form .contact-btn:hover {
	background: #fff;
}
.form_txt {
	color: #fff;
}

/*Scroll Up*/

.scrollup{
    width: 40px;
    height: 40px;
    text-align: center;
    color: #fff;
    font-size: 30px;
    background: #4bcaff;
    position: fixed;
    bottom: 100px;
    right: 50px;
    font-weight: bold;
    border-radius: 100%;
    transition:all 500ms .2s;
    cursor:pointer;
	z-index: 40;
}

.scrollup:hover{
    background: #008ac4;
    color: #fff;
    transform:scale(1.1);
}
.footer {
	background-color: #000;
	color: #d7d7d7;
	padding-top: 40px;
    padding-bottom:40px;
	position: relative;
    overflow: hidden;
}

